:root {
	--primary-color: #bfcbb8;
	--secondary-color-1: #739c74;
	--secondary-color-2: #2f3333;
	--primary-color-dark: #2f3333;
	--secondary-color-dark: #2f3333;
	--secondary-color-light: #ffffff;
	--secondary-color-2-dark: #bfcbb8;
	--secondary-color-2-light: #ffffff;
}
