.flexcontainer{
    display: flex;
    align-items: center;
    height: 10vh;
    min-height: 100px;
}

.ul {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.li {
    text-decoration: none;
}